.settings-menu {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 20rem;
}

.settings-menu__increment {
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

// Checkbox
.settings-menu__checkbox-box {
    display: flex;
    flex-direction: row;
}

.settings-menu__checkbox-label {
    display: flex;
    flex-direction: row;
    width: 10rem;
}

.settings-menu__checkbox {
    display: flex;
    flex-direction: row;
    width: 10rem;
}

// Slider
.settings-menu__slider-box {
    display: flex;
    flex-direction: row;
}

.settings-menu__slider-label {
    display: flex;
    flex-direction: row;
    width: 5rem;
}
.settings-menu__slider-value {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 5rem;
}

.settings-menu__slider {
    //border: red 1px solid;
    width: 10rem;
    height: 1em;
    flex-grow: 1;

    .track {
        background: var(--text-primary);
        //border: var(--background-secondary) 0.1em solid;

        top: 0.4em;
        height: 0.1em;
        border-radius: 0.15em;
    }

    .thumb {
        width: 0.9em;
        height: 0.9em;
        background: var(--text-primary);
        cursor: pointer;
        border-radius: 50%;
    }
}
