.settings-menu {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    font-size: 0.7em;
    gap: 0.5em;
    width: 25em;
}

.settings-menu__increment {
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}
