@import "/node_modules/nord/src/sass/nord.scss";

:root {
  --background-primary: #{$nord0};
  --background-secondary: #{$nord1};
  --background-tertiary: #{$nord2};
  --text-primary: #{$nord4};
  --text-secondary: #{$nord6};
  --text-tertiary: #{$nord3};
}

$element-colors: (
        0: $nord10,
        1: $nord11,
        2: $nord12,
        3: $nord13,
        4: $nord14,
        5: $nord7,
        6: $nord8,
        7: $nord9,
        8: $nord15
);

$element-background-lighten: 5%;

@each $key, $color in $element-colors {
  .color-#{$key} {
    --element-color: #{$color};
    --element-background-color: #{lighten($color, $element-background-lighten)};
  }
}