// Checkbox
.value-checkbox {
    display: flex;
    flex-direction: row;
}

.value-checkbox__label {
    display: flex;
    flex-direction: row;
    width: 10rem;
}

.value-checkbox__checkbox {
    display: flex;
    flex-direction: row;
    width: 10rem;
}
