// Checkbox
.value-checkbox {
    display: flex;
    flex-direction: row;
}

.value-checkbox__label {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 7em;
}

.value-checkbox__pill-container {
    display: flex;
    flex-direction: row;
    font-size: 1em;
    width: 10em;
    padding-left: 3em;
}

.value-checkbox__checkbox {
    display: none;
}

.value-checkbox__pill {
    display: flex;
    flex-direction: row;
    width: 2.8em;
    border-radius: 2em;

    transition: background-color 0.3s;
    cursor: pointer;

    position: relative;
    align-items: center;
    border: 0.1em solid var(--text-primary);
}

.value-checkbox__pill-knob {
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    background-color: var(--text-primary);
    position: absolute;
    left: 0.2em;
    transition:
        background-color 0.3s,
        left 0.3s;
}

input[type="checkbox"]:checked + .value-checkbox__pill {
    background-color: var(--text-primary);
}

input[type="checkbox"]:checked
    + .value-checkbox__pill
    .value-checkbox__pill-knob {
    left: calc(100% - 0.2em - 0.8em);
    background-color: var(--background-primary);
}
