
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --play-area-scale: 1;
}

$color-element-0: #8fbcbb;
$color-element-1: #88c0d0;
$color-element-2: #81a1c1;
$color-element-3: #5e81ac;

$background-lighten: 5%;

.color-0 {
  --element-color: #{$color-element-0};
  --element-background-color: #{lighten($color-element-0, $background-lighten)};
}

.color-1 {
  --element-color: #{$color-element-1};
  --element-background-color: #{lighten($color-element-1, $background-lighten)};
}

.color-2 {
  --element-color: #{$color-element-2};
  --element-background-color: #{lighten($color-element-2, $background-lighten)};
}

.color-3 {
  --element-color: #{$color-element-3};
  --element-background-color: #{lighten($color-element-3, $background-lighten)};
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}


