.dashboard {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2.5fr 1fr;
  justify-items: center;
  align-items: center;
}

.gameBoard {
  // Center this in the grid cell
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  /*width: 200px;*/
  /*height: 200px;*/
}
