.blocks {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    position: absolute;
    /*background: white;*/
    color: var(--element-color);
    background: var(--element-color);
}

.block.active {
    /*background: white;*/
}

.block.inactive {
    /*background: black;*/
}
