.balls {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ball {
    position: absolute;
    border-radius: 50%;

    border: solid var(--background-primary);

    color: var(--element-color);
    background: var(--element-color);
}
