.balls {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ball {
  position: absolute;
  /*transform: scale(var(--play-area-scale));*/
  border-radius: 50%;

  border: 2px solid #2e3440;

  color: var(--element-color);
  background: var(--element-color);
}

